.header__logo {
    max-width: 142px;
    height: 33px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 984px) {
    .header__logo {
        max-width: 104px;
        height: 24.4px;
    }
}