.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    z-index: 100;
    margin-top: 5px;
    margin-left: 34px;
    display: none;
}

@media screen and (max-width: 550px) {
    .popup__input-error {
        margin-left: 22px;
    }
}