    .profile__page {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }
    
    @media screen and (max-width: 630px) {
        .profile__page {
            padding-top: 24px;
            padding-left: 19px;
        }
    }