.footer__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 950px) {
    .footer__title {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
    }
}