.profile__edit-image {
    width: 10px;
    max-height: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .profile__edit-image {
        width: 7.5px;
        height: 7.5px;
        position: absolute;
    }
}