.popup__close {
    background: none;
    border: none;
    position: absolute;
    top: -40px;
    right: -45px;
    cursor: pointer;
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 550px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        background-image: url(../../../images/Close\ Icon2.png);
    }
}

.popup__close:hover {
    opacity: 0.6;
}