.popup__link {
    background: none;
    border: none;
    position: absolute;
    top: -40px;
    right: -45px;
    cursor: pointer;
}

.popup__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .popup__link {
        top: -25px;
        right: 0;
    }
}