.element__btn-del {
    background-image: url(../../../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.element__btn-del:hover {
    opacity: 0.6;
}